.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
  display: block
  clear: both
  height: 38px
  padding: 0 30px
  color: #fff
  text-align: center
  font-size: 16px
  font-weight: 400
  line-height: 38px
  letter-spacing: .1rem
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  background-color: darken($darkyellow, 10%)
  border-radius: 19px
  border: none
  cursor: pointer

  &:hover,
  &:active,
  &:focus
    outline: none
    color: #fff
    background-color: $darkyellow



.info-button
  display: block
  clear: both
  height: 38px
  padding: 0 30px
  color: #fff
  text-align: center
  font-size: 16px
  font-weight: 400
  line-height: 38px
  letter-spacing: .1rem
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  background-color: darken($gray, 10%)
  border-radius: 19px
  border: none
  cursor: pointer

  &:hover,
  &:active,
  &:focus
    outline: none
    color: #fff
    background-color: $gray
