::selection
  background: $accent

::-moz-selection
  background: $accent

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: $accent
