.section-bio
  overflow-x: hidden

.band-full
  width: 200%
  position: relative
  left: 0%
  +transition(all 800ms)

.band-wrap, .bio-wrap
  width: 50%
  float: left

.icon-back
  @extend %icon-back

#band
  @extend %subpg-layout
  .band-container, .bio-container
    max-width: 960px
    margin: 0px auto
    padding: 0 20px
    +clearfix
    img
      max-width: 100%

    .member
      display: inline-block
      margin: 0px 25px
      @media screen and (max-width: 500px)
        margin: 0px 10px


    .bio-unit
        font-size: 18px
        line-height: 1.6em
        letter-spacing: .03em

    .band-unit
      display: block
      width: 250px
      height: 250px
      margin: 0px auto
      position: relative
      border-radius: 50%
      overflow: hidden
      background:
        position: center center
        repeat: no-repeat
        size: cover
      +transition(.5s)
      &:hover
        transform: scale(1.07)
      @media screen and (max-width: 1000px)
        width: 150px
        height: 150px


      .band-overlay
        +position(absolute, 0% 0px null 0px)
        height: 100%
        cursor: pointer
        background: fade-out($bgcolorblue, 0.2)
        text-align: center
        opacity: 0
        +transition
        +display(flex)
        +align-items(center)
        +justify-content(space-around)
        strong
          display: block
          color: white
          font-weight: 400
          padding: 20px
          font-size: 15px
          line-height: 1.2em
          +transition

      &:hover .band-overlay
        +position(absolute, 0px 0px 0px 0px)
        opacity: 1
        strong
          font-size: 25px
