.section-bio
  overflow-x: hidden

.band-full
  width: 200%
  position: relative
  left: 0%
  +transition(all 500ms)

.band-wrap, .bio-wrap
  width: 50%
  float: left

.icon-back
  @extend %icon-back
  top: 20px
  transition: all 100ms ease-in-out

  &:hover
    transform: scale(1.2)

#band
  @extend %subpg-layout
  .band-container, .bio-container
    max-width: 960px
    margin: 0 auto
    padding: 0 20px
    +clearfix
    img
      max-width: 100%

    .member
      display: inline-block
      margin: 0px 25px
      h4
        padding: 10px 0 30px 0
      @media screen and (max-width: 500px)
        margin: 0px 10px

    .band-thumb-unit
      @extend %band-thumb-unit
      +transition(.5s)
      &:hover
        transform: scale(1.07)
      @media screen and (max-width: 1000px)
        width: 150px
        height: 150px

      .band-overlay
        +position(absolute, 0% 0px null 0px)
        height: 100%
        cursor: pointer
        background: fade-out($bgcolorblue, 0.2)
        text-align: center
        opacity: 0
        +transition
        +display(flex)
        +align-items(center)
        +justify-content(space-around)
        strong
          display: block
          color: white
          font-weight: 400
          padding: 20px
          font-size: 15px
          line-height: 1.2em
          +transition

      &:hover .band-overlay
        +position(absolute, 0px 0px 0px 0px)
        opacity: 1
        strong
          font-size: 25px



    .band-unit
      @extend %band-thumb-unit
    .bio-unit
        font-size: 18px
        line-height: 1.6em
        letter-spacing: .03em
