#contact
  @extend %subpg-layout
  .member
    display: inline-block
    padding: 10px
    h4
      color: #eeeeee
      font-weight: 400
  h1
    font-size: 3em
    line-height: .7em
    color: white
    font-weight: 900
  h2
    font-size: 1.5em
    line-height: .02em
    color: white
    font-weight: 300
