*
  padding: 0
  margin: 0

#landing
  float: right
  width: 80%
  height: 100%
  position: relative
  min-height: 400px
  text-align: center


  .splash
    width: 100%
    display: block
    margin: 40% 0


    h1
      max-width: 60%
      margin: auto
      max-height: 40%
      text-align: center
      padding-bottom: 20px
      margin-bottom: -40px
      background-color: rgba(0, 0, 0, .8)
      img
        width: 100%
