*
  padding: 0
  margin: 0

#splash
  float: right
  width: 80%
  margin-top: 20%
  margin-bottom: 20%
  height: 100%
  position: relative
  min-height: 400px
  text-align: center
  top: 0

  h1
    max-width: 60%
    margin: auto
    max-height: 40%
    text-align: center
    padding-bottom: 20px
    margin-bottom: -40px
    background-color: rgba(0, 0, 0, .8)
    img
      width: 100%
