<div id="band">
  <div class="page-title">
    <h1>Band</h1>
    <h2>Mysticity</h2>
  </div>

  <div class="member member-1">
    <a href="#"><img src="assets/img/chrismelekyan.jpg" alt="K.C. Melekyan"></a>
    <h4>K.C. </h4>
  </div>

  <div class="member member-2">
    <a href="#"><img src="assets/img/doogie.jpg" alt="Doogie White"></a>
    <h4>Doogie</h4>
  </div>

  <div class="member member-2">
    <a href="#"><img src="assets/img/john.jpg" alt="John Montgomery"></a>
    <h4>John</h4>
  </div>

  <div class="member member-2">
    <a href="#"><img src="assets/img/steve.jpg" alt="Steve "></a>
    <h4>Steve</h4>
  </div>

  <div class="member member-2">
    <a href="#"><img src="assets/img/bobby.jpg" alt="Bobby Rondinelli"></a>
    <h4>Bobby</h4>
  </div>


</div>
