
<div id="band">
  <div class="page-title">
    <h1>Band</h1>
    <h2>Mysticity</h2>
  </div>


  <div class="band-container"

    <!-- band members -->
    {% for mysticity in site.data.sitecon.band %}
    <div class="member">
      <a href="" class="band-unit" style="background-image: url(/assets/img/{{mysticity.image}});">
        <div class="band-overlay">
          <strong>Read Bio</strong>
        </div>
      </a>
      <h4>{{mysticity.member}}</h4>
    </div>
    {% endfor %}

  </div>

</div>
