<div id="contact">
  <div class="page-title">
    <h1>Contact</h1>
    <h2>We'd love to hear from you!</h2>
  </div>

  <div class="social-links">
    <a href="https://www.facebook.com/tessilck/" target="_blank"> <i class="ion-social-facebook-outline"></i></a>
    <a href="https://twitter.com/4Mysticity" target="_blank"> <i class="ion-social-twitter-outline"></i></a>
  </div>

  <form id="contact-form" action="https://formspree.io/4mysticity@gmail.com"
        method="POST">
        <div class="form-group">
          <label><span>What's your name?</span>
            <input id="contact-name" name="contactName" type="text" >
          </label>
          <label><span>Where can we email you back?</span>
            <input id="contact-mail" name="email" type="email" >
          </label>
        </div><!-- End email input -->

        <div class="form-group">
          <label><span>What's on your mind?</span>
            <textarea id="contact-message" name="comments"></textarea>
          </label>
        </div><!-- End textarea -->
        <div class="submit-wrap">
        <button name="submit" type="submit">Send</button>

        </div>


  </form>



</div>
