<div id="music">
  <div class="page-title">
    <h1>Music</h1>
    <h2>Albums</h2>
  </div>



  <div class="music-container"

    <!-- music albums -->
    {% for albums in site.data.sitecon.music %}
    <div class="album">
      <a href="" class="music-unit" style="background-image: url(/assets/img/{{albums.cover}});">
        <div class="music-overlay">
          <div class="buttons">
            <button type="button" name="button">Details</button>
            <button type="button" name="button">Buy Now</button>
          </div>

        </div>
      </a>
      <h4>{{albums.albumname}}</h4>
    </div>
    {% endfor %}

  </div>




</div>
