<section id="music" class="section-music">
  <div class="page-title">
    <h1>Music</h1>
    <h2>Albums</h2>
  </div>


  <div class="music-full">

    <div class="music-wrap">
      <div class="music-container">
        {% for allalbums in site.data.sitecon.music %}
        <div class="album">
          <div class="music-unit" data-file="{{allalbums.file}}" style="background-image: url(assets/img/{{allalbums.cover}});">
            <div class="music-overlay">
              <strong>Details</strong>
              <a href="https://www.paypal.com/webapps/hermes?token=74R86736MJ230394V&useraction=commit&mfid=1494058451268_5247e53fdf020" target="_blank" class="buynow-overlay" >
                <button type="button" name="button">Buy Now</button> </a>
            </div>
          </div>
          <h4>{{allalbums.albumname}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="album-wrap">
      <div class="album-container">
          <i class="icon-back ion-ios-arrow-back" ></i>

          <div class="album-load"></div>


      </div>
    </div>


  </div>

</section>
