<section id="music" class="section-music">
  <div class="page-title">
    <h1>Music</h1>
    <h2>Albums</h2>
  </div>

  <div class="music-full">

    <div class="music-wrap">
      <div class="music-container">
        {% for allalbums in site.data.sitecon.music %}
        <div class="album">
          <div class="music-unit" data-file="{{allalbums.file}}" style="background-image: url(assets/img/{{allalbums.cover}});">
            <div class="music-overlay">

              <a href="https://itunes.apple.com/us/album/ambassadors-of-the-hidden-sun/459501792" target="_blank" class="buynow-overlay" >
                <button type="button" name="button">Buy Now</button> </a>

                <button type="button" name="button" class="info-button">Details</button>
            </div>
          </div>
          <h4>{{allalbums.albumname}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="album-wrap">
      <div class="album-container">
          <i class="icon-back ion-ios-arrow-back" ></i>

          <div class="album-load"></div>


      </div>
    </div>


  </div>

</section>
