<header>

  <div class="sidenav">
    <div class="logo"><a href="index.html"><img src="assets/img/{{site.data.sitecon.logo}}" alt="Tessilk"></a></div>
    <nav>
      <ul>

        {% for item in site.data.sitecon.menu %}
          <li><a href="{{ item.url }}"> {{ item.name }} </a></li>
        {% endfor %}

      </ul>

    </nav>
    <footer>
      <div class="footer-icons">
        <div class="icon-twitter"> <i class="ion-social-twitter-outline"></i> </div>    <div class="icon-facebook"> <i class="ion-social-facebook-outline"></i> </div>   </div>
      </div>
      <span class="copyright">© Tessilk All Rights Reserved</span>
    </footer>
  </div>

</header>
