<header>

  <div class="sidenav">
    <div class="logo"><a href="index.html"><img src="assets/img/{{site.data.sitecon.logo}}" alt="Tessilk"></a></div>
    <nav>
      <ul>
        {% for navitem in site.data.sitecon.menu %}
          <li><a href="{{ navitem.url }}"> {{ navitem.name }} </a></li>
        {% endfor %}
      </ul>
    </nav>

    <footer>
      <div class="footer-icons">
        <a href="https://www.facebook.com/tessilck/" target="_blank"> <i class="icon-facebook ion-social-facebook-outline"></i></a>
      </div>
      <div class="copyright">© Tessilck All Rights Reserved</div>
    </footer>
  </div>

  <div class="mobile-nav">
    <div id="toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>

    <ul>
      <li>
        <div class="logo"><a href="index.html"><img src="assets/img/{{site.data.sitecon.logo}}" alt="Tessilk"></a></div>
      </li>
      {% for mobilenav in site.data.sitecon.menu %}
        <li><a href="{{ mobilenav.url }}"> {{ mobilenav.name }} </a></li>
      {% endfor %}
    </ul>
  </div>

</header>
