<header>

  <div class="sidenav">
    <div class="logo"><a href="index.html"><img src="assets/img/tessilck_logo.png" alt="Tessilk"></a></div>
    <nav>
      <ul>
        <li><a href="index.html" class="active" >Home</a></li>
        <li><a href="music.html">Music</a></li>
        <li><a href="band.html">Band</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>

    </nav>
    <footer>
      <div class="footer-icons">
        <div class="icon-twitter"> <i class="ion-social-twitter-outline"></i> </div>    <div class="icon-facebook"> <i class="ion-social-facebook-outline"></i> </div>   </div>
      </div>
      <span class="copyright">© Tessilk All Rights Reserved</span>
    </footer>
  </div>

</header>
