.sidenav
  width: 20%
  min-width: 170px
  background-color: rgba(0, 0, 0, .8)
  height: 100%
  top: 0px
  overflow: auto
  float: left
  z-index: 10
  position: fixed
  left: 0px
  min-height: 400px

  .logo
    display: block
    clear: both
    text-align: center
    img
      width: 80%
      max-width: 250px

  nav
    padding-top: 30px
    display: block
    text-transform: uppercase
    text-align: right
  nav
    ul
      li
        list-style-type: none
        line-height: 3em
        text-align: center
        a
          display: block
          color: #ccc
          font-size: 1.7em
          line-height: 2em
          font-weight: 300
          background-color: rgba($bgcolorblue, 0)
          transition: all 300ms ease-in-out
          &:hover
            transform: scale(1.1)
            color: #ffda78
            background-color: rgba($bgcolorblue, .5)





.mobile-nav
  display: none
  z-index: 2000

  #toggle
    position: fixed
    width: 28px
    height: 30px
    cursor: pointer
    div
      width: 100%
      height: 3px
      background: white
      margin: 5px auto
      transition: all 0.3s
      backface-visibility: hidden

  #toggle.on
    .one
      transform: rotate(45deg) translate(5px, 5px)

  #toggle.on
    .two
      opacity: 0

  #toggle.on
    .three
      transform: rotate(-45deg) translate(6px, -7px)


  ul
    display: none
    list-style: none
    position: fixed
    text-align: center
    background-color: rgba(0,0,0, .8)
    width: 25%
    left: 0

  a
    color: #ffffff



footer
  display: block
  height: auto
  color: #ccc
  position: fixed
  bottom: 30px
  width: 20%
  .footer-icons
    height: 20px
    +display(flex)
    +align-items(flex-end)
    width: 10%
    padding-left: 50%
    color: white
    cursor: pointer
    a
      color: white
      cursor: pointer
    [class^="icon-"]
      letter-spacing: .5em
      font-size: 1.5em


  .copyright
    +align-self(flex-end)
    letter-spacing: 0.11em
    font-size: 0.6em
    font-family: 'Raleway', sans-serif
    text-transform: uppercase
    text-align: center


@media screen and (max-width: 850px)
  .sidenav
    display: none

  .mobile-nav
    width: 20%
    height: 55px
    padding-top: 12px
    padding-left: 25px
    display: block
    position: fixed
    background-color: black
    border-bottom: 1px solid #555

    ul
      width: 30%
      top: 55px
      padding-top: 15px
      padding-bottom: 15px
      border-bottom: 1px solid #555


    li
      padding: 10px 0 10px 0
      .logo
        text-align: center
        img
          width: 60%
          max-width: 250px

    a
      font-size: 20px
      font-weight: 400


@media screen and (max-width: 580px)
  .mobile-nav
    width: 20%
    height: 98px
    padding-top: 33px
    padding-left: 7%
    ul
      width: 40%
      top: 98px
      padding-bottom: 10px

@media screen and (max-width: 320px)
  .sidenav
    display: none

  .mobile-nav
    width: 20%
    height: 98px
    padding-top: 33px
    padding-left: 10px

    ul
      width: 100%
      top: 98px
      padding-bottom: 10px

    li
      padding: 5px 0 5px 20px

    a
      font-size: 12px
