@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,900);
#music, #band, #gallery, #contact {
  float: right;
  width: 80%;
  text-align: center;
  background-color: rgba(36, 41, 51, 0.8);
  margin: 20% 0;
  padding-bottom: 5%; }
  #music .page-title, #band .page-title, #gallery .page-title, #contact .page-title {
    padding: 55px 0 50px 0; }
    #music .page-title h1, #band .page-title h1, #gallery .page-title h1, #contact .page-title h1 {
      font-size: 3em;
      line-height: .7em;
      color: white;
      font-weight: 900; }
    #music .page-title h2, #band .page-title h2, #gallery .page-title h2, #contact .page-title h2 {
      font-size: 1.5em;
      line-height: .02em;
      color: white;
      font-weight: 300; }
  @media screen and (max-width: 850px) {
    #music, #band, #gallery, #contact {
      width: 100%; } }

#band .band-container .band-thumb-unit, #band .bio-container .band-thumb-unit, #band .band-container .band-unit, #band .bio-container .band-unit {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.icon-back {
  display: block;
  position: absolute;
  float: left;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 1010;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }
  .icon-back:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.modal-container .modal .icon-next, .modal-container .gallery .icon-next, .gallery-container .modal .icon-next, .gallery-container .gallery .icon-next {
  display: block;
  position: absolute;
  float: right;
  top: 40%;
  right: -150px;
  height: 50px;
  width: 50px;
  color: white;
  opacity: .8;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
  z-index: 1030;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }
  .modal-container .modal .icon-next:hover, .modal-container .gallery .icon-next:hover, .gallery-container .modal .icon-next:hover, .gallery-container .gallery .icon-next:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1; }
  @media screen and (max-width: 1000px) {
    .modal-container .modal .icon-next, .modal-container .gallery .icon-next, .gallery-container .modal .icon-next, .gallery-container .gallery .icon-next {
      right: -100px; } }
  @media screen and (max-width: 890px) {
    .modal-container .modal .icon-next, .modal-container .gallery .icon-next, .gallery-container .modal .icon-next, .gallery-container .gallery .icon-next {
      right: -40px; } }
  @media screen and (max-width: 550px) {
    .modal-container .modal .icon-next, .modal-container .gallery .icon-next, .gallery-container .modal .icon-next, .gallery-container .gallery .icon-next {
      right: 50px; } }

.modal-container .modal .icon-prev, .modal-container .gallery .icon-prev, .gallery-container .modal .icon-prev, .gallery-container .gallery .icon-prev {
  display: block;
  position: absolute;
  float: left;
  top: 40%;
  left: -150px;
  height: 50px;
  width: 50px;
  color: white;
  opacity: .8;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
  z-index: 1030;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }
  .modal-container .modal .icon-prev:hover, .modal-container .gallery .icon-prev:hover, .gallery-container .modal .icon-prev:hover, .gallery-container .gallery .icon-prev:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1; }
  @media screen and (max-width: 1000px) {
    .modal-container .modal .icon-prev, .modal-container .gallery .icon-prev, .gallery-container .modal .icon-prev, .gallery-container .gallery .icon-prev {
      left: -100px; } }
  @media screen and (max-width: 890px) {
    .modal-container .modal .icon-prev, .modal-container .gallery .icon-prev, .gallery-container .modal .icon-prev, .gallery-container .gallery .icon-prev {
      left: -40px; } }
  @media screen and (max-width: 550px) {
    .modal-container .modal .icon-prev, .modal-container .gallery .icon-prev, .gallery-container .modal .icon-prev, .gallery-container .gallery .icon-prev {
      left: 50px; } }

.modal-container .modal .close-icon, .modal-container .gallery .close-icon, .gallery-container .modal .close-icon, .gallery-container .gallery .close-icon {
  display: block;
  position: fixed;
  float: right;
  right: 20px;
  top: 20px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: white;
  opacity: .5;
  text-align: center;
  cursor: pointer;
  z-index: 1010;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }
  .modal-container .modal .close-icon:hover, .modal-container .gallery .close-icon:hover, .gallery-container .modal .close-icon:hover, .gallery-container .gallery .close-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1; }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(http://fonts.googleapis.com/css?family=Raleway:400) format("ttf"), url(http://fonts.googleapis.com/css?family=Raleway:900) format("woff2"); }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local("Raleway"), url(http://fonts.googleapis.com/css?family=Raleway:900) format("ttf"), url(http://fonts.googleapis.com/css?family=Raleway:900) format("woff2"); }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: 'Raleway', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

body {
  background-color: black;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::-moz-selection {
  background: #a1724c; }

::selection {
  background: #a1724c; }

::-moz-selection {
  background: #a1724c; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #a1724c; }

a {
  color: #ffda78;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway' sans-serif;
  font-weight: 900; }
  a:hover, a:focus {
    color: #ffbe12; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 400; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
  color: #eeeeee;
  font-weight: 400; }

.medium, h5 {
  font-size: 12px;
  line-height: 2.3em;
  color: #eeeeee;
  font-weight: 400; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 20px 0;
  color: white;
  text-align: left; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  clear: both;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffbe12;
  border-radius: 19px;
  border: none;
  cursor: pointer; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    outline: none;
    color: #fff;
    background-color: #ab7c00; }

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -10; }

.cb-slideshow:after {
  content: '';
  background: transparent url("../img/pattern.png") repeat top left; }

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -10;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s; }

.cb-slideshow li:nth-child(1) span {
  background-image: url("../img/1.jpg"); }

.cb-slideshow li:nth-child(2) span {
  background-image: url("../img/2.jpg");
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url("../img/3.jpg");
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url("../img/4.jpg");
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) span {
  background-image: url("../img/5.jpg");
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) span {
  background-image: url("../img/6.jpg");
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }

.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1); }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1); }
  100% {
    opacity: 0; } }

@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -moz-transform: scale(1.05);
    -moz-animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    -moz-transform: scale(1.1); }
  25% {
    opacity: 0;
    -moz-transform: scale(1.1); }
  100% {
    opacity: 0; } }

@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -o-transform: scale(1.05);
    -o-animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    -o-transform: scale(1.1); }
  25% {
    opacity: 0;
    -o-transform: scale(1.1); }
  100% {
    opacity: 0; } }

@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -ms-transform: scale(1.05);
    -ms-animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    -ms-transform: scale(1.1); }
  25% {
    opacity: 0;
    -ms-transform: scale(1.1); }
  100% {
    opacity: 0; } }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0; } }

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1; }

.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  z-index: 1010;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

.sidenav {
  width: 20%;
  min-width: 170px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  top: 0px;
  overflow: auto;
  float: left;
  z-index: 10;
  position: fixed;
  left: 0px;
  min-height: 400px; }
  .sidenav .logo {
    display: block;
    clear: both;
    text-align: center; }
    .sidenav .logo img {
      width: 80%;
      max-width: 250px; }
  .sidenav nav {
    padding-top: 30px;
    display: block;
    text-transform: uppercase;
    text-align: right; }
    .sidenav nav ul li {
      list-style-type: none;
      line-height: 3em;
      text-align: center; }
      .sidenav nav ul li a {
        display: block;
        color: #ccc;
        font-size: 1.7em;
        line-height: 2em;
        font-weight: 300;
        background-color: rgba(36, 41, 51, 0);
        transition: all 300ms ease-in-out; }
        .sidenav nav ul li a:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          color: #ffda78;
          background-color: rgba(36, 41, 51, 0.5); }

footer {
  display: block;
  height: auto;
  color: #ccc;
  position: fixed;
  bottom: 30px;
  width: 20%; }
  footer .footer-icons {
    height: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    width: 10%;
    padding-left: 50%;
    color: white;
    cursor: pointer; }
    footer .footer-icons a {
      color: white;
      cursor: pointer; }
    footer .footer-icons [class^="icon-"] {
      letter-spacing: .5em;
      font-size: 1.5em; }
  footer .copyright {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-item-align: end;
    letter-spacing: 0.11em;
    font-size: 0.6em;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center; }

@media screen and (max-width: 850px) {
  .sidenav {
    display: none; } }

.modal-container, .gallery-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s; }
  .modal-container .modal, .modal-container .gallery, .gallery-container .modal, .gallery-container .gallery {
    z-index: 1000;
    position: relative;
    left: 50%;
    top: 50%;
    width: 520px;
    background-color: black;
    margin-top: -220px;
    margin-left: -260px;
    transition: margin 0.2s;
    text-align: center; }
    .modal-container .modal .gallery-unit, .modal-container .gallery .gallery-unit, .gallery-container .modal .gallery-unit, .gallery-container .gallery .gallery-unit {
      height: 0;
      padding: 40% 0;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      z-index: 1010;
      display: none;
      -webkit-transition: 1600ms;
      -moz-transition: 1600ms;
      transition: 1600ms; }
      .modal-container .modal .gallery-unit.active-gal, .modal-container .gallery .gallery-unit.active-gal, .gallery-container .modal .gallery-unit.active-gal, .gallery-container .gallery .gallery-unit.active-gal {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
    .modal-container .modal .gallery-unit iframe,
    .modal-container .modal .gallery-unit img, .modal-container .gallery .gallery-unit iframe,
    .modal-container .gallery .gallery-unit img, .gallery-container .modal .gallery-unit iframe,
    .gallery-container .modal .gallery-unit img, .gallery-container .gallery .gallery-unit iframe,
    .gallery-container .gallery .gallery-unit img {
      position: absolute;
      top: 0;
      left: -10%; }

.video-title {
  font-size: 24px;
  color: white; }

@media screen and (max-width: 980px) {
  .modal,
  .gallery {
    width: 400px; } }

@media screen and (max-width: 760px) {
  .modal-container,
  .gallery-container {
    left: 0%;
    width: 100%; }
  .video-title {
    font-size: 30px; } }

@media screen and (max-width: 650px) {
  .modal,
  .gallery {
    width: 250px; }
  .video-title {
    font-size: 20px; } }

.modal-open .modal-container {
  opacity: 1;
  pointer-events: all; }
  .modal-open .modal-container .modal {
    margin-top: -180px; }

.gallery-open .gallery-container {
  opacity: 1;
  pointer-events: all; }
  .gallery-open .gallery-container .gallery {
    margin-top: -180px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

pre, code {
  font-size: inherit;
  color: #333;
  background: #fafafa; }

pre {
  padding: 1rem;
  border: 1px solid #eee;
  overflow: auto; }

/*-----------------------
    Audio Player - AP
------------------------*/
.ap {
  position: fixed;
  right: 0;
  top: 0;
  width: 80%;
  height: 55px;
  font-family: inherit;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #555;
  background: #0f1115;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  z-index: 999; }

.ap__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 7px 0 0 0; }

.ap__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.ap__item--playback > .ap__controls,
.ap__item--settings > .ap__controls {
  -webkit-flex: 0 25%;
  -ms-flex: 0 25%;
  flex: 0 25%; }

@-webkit-keyframes fs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes fs {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.ap__item--track {
  -webkit-flex: 1 40%;
  -ms-flex: 1 40%;
  flex: 1 40%;
  padding: 0 20px; }

.track {
  position: relative;
  width: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 5px 0 0; }

.track__title {
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding-right: 80px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis; }

.track__time {
  position: absolute;
  top: 5px;
  right: 0; }

.progress-container {
  position: relative;
  padding: 7px 0 0 0;
  margin-top: 20px;
  overflow: hidden;
  cursor: pointer; }
  .progress-container:hover .progress__bar:after {
    opacity: 1; }

.progress {
  height: 3px;
  border-radius: 3px;
  background: #ddd; }

.progress__bar,
.progress__preload {
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 3px 0 0 3px; }

.progress__bar {
  background: #ffbe12;
  z-index: 1; }
  .progress__bar:after {
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px;
    height: 10px;
    margin-top: -3px;
    content: '';
    border-radius: 6px;
    background: #ffbe12;
    opacity: 0;
    transition: opacity .3s ease; }

.progress__bar--active:after {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4); }

.progress__preload {
  background: #c4c4c4;
  z-index: 0; }

.ap__controls,
.ap button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  position: relative;
  display: block;
  height: 55px;
  text-align: center;
  cursor: pointer;
  transition: background .3s ease; }
  .ap__controls:active,
  .ap button:active {
    background: rgba(0, 0, 0, 0.1); }
  .ap__controls:hover,
  .ap button:hover {
    opacity: 1; }

.icon-play > path {
  transition: all .3s ease; }

.is-playing .icon-play {
  fill: #ffbe12; }

.volume-btn {
  display: block;
  text-align: center;
  width: 100%; }

.volume {
  position: absolute;
  left: 50%;
  top: 50px;
  width: 40px;
  margin-left: -20px;
  height: 120px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  transition: all 0.3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  background: #0f1115;
  border: 1px solid #ccc;
  border-radius: 1px;
  z-index: 888; }
  .volume::before, .volume::after {
    content: '';
    position: absolute;
    top: -12px;
    border: 7px solid transparent;
    border-bottom: 7px solid #0f1115;
    left: 50%;
    margin-left: -7px; }
  .volume::after {
    top: -14px;
    z-index: -1;
    border-bottom: 7px solid #ccc; }

.volume-container:hover .volume {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  visibility: visible; }

.volume__track {
  position: relative;
  display: block;
  width: 3px;
  height: 100px;
  margin: 10px auto;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden; }

.volume__bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffbe12;
  height: 50%; }

.icon-volume-off {
  display: none; }

.has-muted .icon-volume-on {
  display: none; }

.has-muted .icon-volume-off {
  display: inline;
  opacity: .7; }

.ap__controls.is-active > svg {
  fill: #ffbe12;
  -webkit-filter: drop-shadow(0 0 3px rgba(255, 190, 18, 0.4));
  filter: drop-shadow(0 0 3px rgba(255, 190, 18, 0.4)); }

@media (max-width: 1024px) {
  .ap__item > .ap__controls {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; } }

@media (max-width: 580px) {
  .ap {
    min-width: 250px; }
  .ap, .ap__inner {
    height: auto; }
  .ap__inner {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .ap__item--track {
    margin-bottom: 0px;
    padding: 0 20px;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; }
  .ap__item--playback,
  .ap__item--settings {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; } }

/*-----------------------
    Playlist Player - PL
------------------------*/
.pl-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 20%;
  top: 55px;
  overflow: auto;
  font-family: inherit;
  font-size: 14px;
  background: #000;
  z-index: 777; }

@media (max-width: 850px) {
  .pl-container {
    left: 0; } }

.pl-ul {
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  padding: 100px 10px 50px 10px; }

.pl-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  line-height: 40px; }
  .pl-list svg {
    fill: #ffbe12; }

.pl-list + .pl-list {
  border-top: 1px solid #eee; }

.pl-list:not(.pl-list--current):hover {
  background: #242933; }

.pl-list__track,
.pl-list__remove {
  -webkit-flex: 0 50px;
  -ms-flex: 0 50px;
  flex: 0 50px;
  text-align: center; }

.pl-list__icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #555; }

.pl-list__title {
  overflow: hidden;
  padding-right: 10px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.pl-list__eq {
  display: none; }

.pl-list--current {
  background: #ffbe12;
  color: #fff; }

.pl-list--current svg {
  fill: #fff; }

.pl-list--current .pl-list__eq {
  display: block; }

.pl-list--current .pl-list__icon {
  display: none; }

.pl-list--empty {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  color: #ccc; }

@-webkit-keyframes eq {
  0% {
    height: 3px; }
  50% {
    height: 20px; }
  100% {
    height: 3px; } }

@keyframes eq {
  0% {
    height: 3px; }
  50% {
    height: 20px; }
  100% {
    height: 3px; } }

.eq {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.eq__bar {
  width: 4px;
  background: #fff;
  -webkit-filter: drop-shadow(0 0 5px #fff);
  filter: drop-shadow(0 0 5px #fff); }

.eq__bar:nth-child(1) {
  -webkit-animation: eq .8s ease-in-out infinite 0s;
  animation: eq .8s ease-in-out infinite 0s; }

.eq__bar:nth-child(2) {
  -webkit-animation: eq .8s ease-in-out infinite .2s;
  animation: eq .8s ease-in-out infinite .2s; }

.eq__bar:nth-child(3) {
  -webkit-animation: eq .8s ease-in-out infinite .4s;
  animation: eq .8s ease-in-out infinite .4s; }

.h-hide {
  display: none; }

.h-show {
  display: block; }

* {
  padding: 0;
  margin: 0; }

#landing {
  float: right;
  width: 80%;
  height: 1290px;
  position: relative;
  min-height: 400px;
  text-align: center; }
  @media screen and (max-width: 740px) {
    #landing {
      width: 100%; } }
  #landing .splash {
    width: 100%;
    display: block;
    margin-top: 300px;
    height: 400px;
    top: 50%; }
    #landing .splash h1 {
      max-width: 60%;
      margin: auto;
      max-height: 400px;
      text-align: center;
      padding-bottom: 20px;
      margin-bottom: -40px;
      background-color: rgba(0, 0, 0, 0.8); }
      #landing .splash h1 img {
        width: 100%; }

.section-music {
  overflow-x: hidden; }

.music-full {
  width: 200%;
  position: relative;
  left: 0%;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms; }

.music-wrap, .album-wrap {
  width: 50%;
  float: left;
  padding-bottom: 30px; }

.icon-back {
  margin-top: -20px;
  transition: all 100ms ease-in-out; }
  .icon-back:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

#music .music-container, #music .album-container {
  max-width: 960px;
  margin: 0px auto;
  padding: 0 20px; }
  #music .music-container::after, #music .album-container::after {
    clear: both;
    content: "";
    display: table; }
  #music .music-container img, #music .album-container img {
    max-width: 100%; }

#music .album {
  display: inline-block;
  margin: 0px 30px; }
  #music .album h4 {
    padding: 10px 0 40px 0; }
  @media screen and (max-width: 1300px) {
    #music .album {
      margin: 0px 10px; }
      #music .album h4 {
        width: 200px;
        font-size: 16px;
        text-align: center;
        margin: 0 auto 10px auto; } }
  #music .album .music-unit {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
    #music .album .music-unit:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03); }
    @media screen and (max-width: 1300px) {
      #music .album .music-unit {
        width: 300px;
        height: 300px; } }
    #music .album .music-unit .music-overlay {
      position: absolute;
      top: 0%;
      right: 0px;
      left: 0px;
      height: 100%;
      background: rgba(36, 41, 51, 0.8);
      text-align: center;
      cursor: pointer;
      opacity: 0;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      #music .album .music-unit .music-overlay strong {
        display: inline-block;
        margin: 45% auto 20% auto;
        cursor: pointer;
        color: white;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.2em;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
      #music .album .music-unit .music-overlay .buynow-overlay {
        display: block;
        clear: both;
        width: 150px;
        margin: 0px 125px; }
        @media screen and (max-width: 1200px) {
          #music .album .music-unit .music-overlay .buynow-overlay {
            margin: 0px 80px; } }
    #music .album .music-unit:hover .music-overlay {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1; }
      #music .album .music-unit:hover .music-overlay strong {
        font-size: 25px; }

#music .cover-wrap {
  display: block;
  float: left;
  margin: 0 20px 20px 15%; }
  #music .cover-wrap .album-unit {
    display: block;
    clear: right;
    width: 200px;
    height: 200px;
    overflow-x: hidden;
    margin-bottom: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  #music .cover-wrap .buynow {
    display: inline-block; }

#music .track-unit {
  display: block;
  width: 60%;
  text-align: left;
  width: auto;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: .03em;
  color: white; }
  #music .track-unit ol {
    display: inline-block;
    margin: 10px 0 0 20px; }
  @media screen and (max-width: 520px) {
    #music .track-unit {
      clear: both;
      width: 100%; }
      #music .track-unit h4, #music .track-unit h5 {
        width: 70%;
        margin-left: 30px; }
      #music .track-unit ol {
        margin-left: 30px; } }

.section-bio {
  overflow-x: hidden; }

.band-full {
  width: 200%;
  position: relative;
  left: 0%;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms; }

.band-wrap, .bio-wrap {
  width: 50%;
  float: left; }

.icon-back {
  top: 20px;
  transition: all 100ms ease-in-out; }
  .icon-back:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

#band .band-container, #band .bio-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }
  #band .band-container::after, #band .bio-container::after {
    clear: both;
    content: "";
    display: table; }
  #band .band-container img, #band .bio-container img {
    max-width: 100%; }
  #band .band-container .member, #band .bio-container .member {
    display: inline-block;
    margin: 0px 25px; }
    #band .band-container .member h4, #band .bio-container .member h4 {
      padding: 10px 0 30px 0; }
    @media screen and (max-width: 500px) {
      #band .band-container .member, #band .bio-container .member {
        margin: 0px 10px; } }
  #band .band-container .band-thumb-unit, #band .bio-container .band-thumb-unit {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }
    #band .band-container .band-thumb-unit:hover, #band .bio-container .band-thumb-unit:hover {
      -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
      transform: scale(1.07); }
    @media screen and (max-width: 1000px) {
      #band .band-container .band-thumb-unit, #band .bio-container .band-thumb-unit {
        width: 150px;
        height: 150px; } }
    #band .band-container .band-thumb-unit .band-overlay, #band .bio-container .band-thumb-unit .band-overlay {
      position: absolute;
      top: 0%;
      right: 0px;
      left: 0px;
      height: 100%;
      cursor: pointer;
      background: rgba(36, 41, 51, 0.8);
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute; }
      #band .band-container .band-thumb-unit .band-overlay strong, #band .bio-container .band-thumb-unit .band-overlay strong {
        display: block;
        color: white;
        font-weight: 400;
        padding: 20px;
        font-size: 15px;
        line-height: 1.2em;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
    #band .band-container .band-thumb-unit:hover .band-overlay, #band .bio-container .band-thumb-unit:hover .band-overlay {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1; }
      #band .band-container .band-thumb-unit:hover .band-overlay strong, #band .bio-container .band-thumb-unit:hover .band-overlay strong {
        font-size: 25px; }
  #band .band-container .bio-unit, #band .bio-container .bio-unit {
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: .03em; }

#gallery {
  z-index: 1; }
  #gallery .thumb-container {
    max-width: 100%;
    margin: 0px auto;
    padding-bottom: 100px;
    overflow: hidden; }
    #gallery .thumb-container::after {
      clear: both;
      content: "";
      display: table; }
    #gallery .thumb-container .thumb-unit {
      display: block;
      z-index: 2;
      width: 25%;
      float: left;
      position: relative;
      padding-top: 16%;
      overflow: hidden;
      cursor: pointer;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s; }
      #gallery .thumb-container .thumb-unit:hover {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02); }
      @media screen and (max-width: 760px) {
        #gallery .thumb-container .thumb-unit {
          width: 50%;
          padding-top: 26%; } }
      #gallery .thumb-container .thumb-unit .thumb-overlay {
        position: absolute;
        top: 0%;
        right: 0px;
        left: 0px;
        height: 100%;
        background: rgba(36, 41, 51, 0.6);
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: distribute;
        -moz-box-pack: distribute;
        box-pack: distribute;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -o-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-pack: distribute; }
        #gallery .thumb-container .thumb-unit .thumb-overlay strong {
          display: block;
          color: white;
          font-weight: 400;
          padding: 20px;
          font-size: 34px;
          line-height: 1.2em;
          cursor: pointer;
          transition: -webkit-transform 100ms ease-in-out;
          transition: transform 100ms ease-in-out;
          transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }
          #gallery .thumb-container .thumb-unit .thumb-overlay strong:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2); }
      #gallery .thumb-container .thumb-unit:hover .thumb-overlay {
        position: absolute;
        top: 0%;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 1; }

#contact h1 {
  font-size: 3em;
  line-height: .7em;
  color: white;
  font-weight: 900; }

#contact h2 {
  font-size: 1.5em;
  line-height: .02em;
  color: white;
  font-weight: 300; }

#contact .social-links {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  font-size: 40px;
  padding: 0 30%;
  color: white;
  cursor: pointer; }
  #contact .social-links a {
    display: block;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    #contact .social-links a:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }

#contact form {
  max-width: 450px;
  margin: 40px auto 50px auto; }
  #contact form input, #contact form textarea {
    border: 5px solid #ffbe12;
    width: 100%;
    min-height: 40px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #contact form input:focus, #contact form textarea:focus {
      outline: none;
      border: 5px solid #ffda78; }
  #contact form .form-group {
    text-align: left; }
    #contact form .form-group label {
      width: 50%;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #contact form .form-group label:nth-child(1) {
        padding-right: 5px; }
      #contact form .form-group label:nth-child(2) {
        padding-left: 5px; }
    #contact form .form-group textarea {
      width: 205%;
      height: 150px; }
  #contact form .submit-wrap {
    clear: both;
    width: 25%;
    float: right; }
  #contact form label {
    display: block;
    margin-bottom: 20px; }
    #contact form label span {
      display: block;
      padding: 10px 0;
      font-size: 16px; }
